* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #044a75;
  color: #f9fafc;
  font-family: Roboto,sans-serif;
}

// section after body
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  text-align: center;
}

.title-nav {
  margin-bottom: 30px;
}


// Form and form div styles
.preauth__panel {
  background: #fff;
  border-radius: 3px;
  color: #3c4858;
  width: 440px;
  padding: 2.5rem;
}

.form form, label{
  display: flex;
  flex-direction: column;
}

// Login button styles
button, input {
  width: 100%;
  padding: 12px;
}

.email-address input {
  border:1px solid lightgrey;
  border-radius: 3px;
}

.email-address input:focus {
  border:2px solid lightblue;
  border-radius: 3px;
  outline: none;
}

.password__field input {
  border:none;
  border-radius: 3px;
  &:focus {
    border:1px solid lightblue;
  border-radius: 3px;
  outline: none;
  }
}

.password__field .login_password {
  width: 100%;
}

.password__field {
  display: flex;
  border: 1px solid lightgrey;
  height: 40px;
  border-radius: 3px;
  position: relative;
}

.password__field button{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 0 0;
  border: 0;
  font: inherit;
  margin: 0;
}

.password__field i{
  position: absolute;
  left: 90%;
  top: 25%;
  font-size: 18px;
  cursor: pointer;
}

.input__button {
  outline: none;
  background: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #1f2d3d;
  right: -160px;
}

div .loginHeader{
  margin-top: -20px;
  padding: 0px;
}

.content__heading {
  text-align: center;
  word-spacing: -3px;
  color: #091e3f;
  font-family: Publico;
  font-size: 1.51571657rem;
  line-height: 2rem;
  margin-bottom: 20px;
}

.entry__label {
  display: flex;
  font-weight: 700;
  padding: 0;
  white-space: normal;
  margin-bottom: 5px;
}

.spacing{
  margin-bottom: 20px;
}

.clickable_button {
  background: #0092ff;
  border: 1px solid #0092ff;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: #0388ee;
  }
}

.iconBtns button {
  border: 1px solid #0092ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a button{
  color: #1f2d3d;
  display: block;
  font-size: 1.01395948rem;
  line-height: 2.5rem;
  background-color:#f9fafc;
  border-radius: 3px;
}

.iconBtns svg {
  margin-right: 8px;
  font-size: 20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.clickable__group a{
  color: #c0ccda;
  font-weight: 500;
  font-size: 16px;
  &:hover {
    color: #0388ee;
    text-decoration: underline;
  }
}

.preauth__footer .dots {
  width: 5px;
  height: 5px;
  background: #f9fafc;
  border-radius: 50%;
  margin: 0px 15px;
}


@media (max-width:500px) {
  .preauth__panel {
    width: 320px;
  }
  
  .input__affix svg {
    font-size: 150px;
  }

    .footer-content {
      width: 90%;
      margin: 0 auto;
  }

  .preauth__footer .dots {
    margin: 0px 5px;
  }

  .clickable__group a{
    font-size: 13px;
  }

  .footer-content {
    margin-top: 20px;
  }
  
}
